.popup-container {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: $level_4;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;

    background-color: rgba($black1, $alpha: 0.3);
    // background-blend-mode: darken;
    // filter: blur(2px);
  }
}

.popup-wrap {
  z-index: 99;
  position: relative;
  width: 100%;
  background-color: $white;
  border-radius: 20px;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.15);
  overflow: hidden;

  @keyframes slide-up {
    from {
      transform: translateY(10px);
      opacity: 0.7;
    }

    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @include animation(slide-up, 0.4s);
}

.popup-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 3rem 2rem;
  row-gap: 2rem;
}

.popup-tool {
  width: 100%;

  .btn {
    border-top: 1px solid #D9D9D9;
    width: 50%;
    padding: 1em;
    font-size: 16px;
    font-weight: 500;
  }
}

// home page

// * home popup layout + animation
.set-guide {
  padding: 0 20px;

  .image-icon-guide {
    display: block;
    width: 75px;
    height: 75px;
    background-image: url('../../assets/image/image_poup.png');
    background-repeat: no-repeat;
    background-size: contain;
  }

  .guide-text {
    text-align: center;
    line-height: 1.8em;

    strong {
      color: $purple;
      font-size: 1.6rem;
    }
  }

  .popup-tool {

    .btn-look-guide {
      background-color: $purple2;
    }
  }
}

// * shut-down animation
.set-guide.shut-down {

  $animation_duration: 0.8s;

  @keyframes getting-smaller {
    from {
      width: 30%;
      height: 30%;
    }

    to {
      width: 50px;
      height: 50px;
      padding: 0;
    }
  }

  &.popup-container {
    bottom: 20px;
    right: 12px;
    @include animation(getting-smaller, $animation_duration);

    &::after {
      display: none;
    }
  }

  @keyframes getting-smaller-wrap {
    from {
      width: 50%;
      height: 50%;
    }

    80% {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      padding: 0;
    }

    to {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      padding: 0;
    }
  }

  .popup-wrap {
    @include animation(getting-smaller-wrap, $animation_duration);
  }

  .popup-content {
    padding: 0;
    height: 100%;
    justify-content: center;

    .image-icon-guide {
      width: 35px;
      height: 35px;
    }

    .guide-text {
      display: none;
    }
  }

  .popup-tool {
    display: none;
  }
}