.btn-video-item {
  @include btn;
  width: 100%;
  flex-direction: column;
}

.video-wrap {
  position: relative;
  width: 100%;
  min-width: 320px;
  min-height: 170px;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  margin-bottom: 1rem;

  .video-content {
    background-color: gainsboro;
    width: 100%;
  }

  .video-total-time {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 7px 10px;
  }
}

.video-title {
  @include multiline-text-ellipsis(2);

  width: 100%;
  max-height: 4rem;
  font-size: 1.6rem;
  line-height: 1.4;
  text-align: left;
  // background-color: gainsboro;
  margin-bottom: 4px;
}

.video-date {
  display: inline-block;
  width: 100%;
  text-align: left;
  color: $darkgray;
  font-size: 12px;
  margin-bottom: 12px;
}

// when click video button
$float_interaction: 0.3s;

.view-video {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: $level_3;

  .view-video-wrap {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 0 28px;
    border-radius: 24px 24px 0 0;

    background: rgba(255, 255, 255, 0.95);
    box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.1);

    transition-property: all;
    transition-duration: $float_interaction;
  }

  .drag-tool-touch {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 8px;
    padding-bottom: 12px;
    margin-bottom: 10px;
    height: 24px;
    cursor: pointer;
    // cursor: row-resize;
    transition: all $float_interaction;

    .tool-bar {
      display: inline-block;
      width: 141px;
      height: 3px;

      transition-property: width;
      transition-duration: $float_interaction;
      background-color: $purple;
      border-radius: 3px;
    }
  }
}

.video-main {
  width: 100%;

  .video-information {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .information-comment {
    font-size: 14px;
    font-weight: 700;
  }

  .user-tool {
    display: flex;
    column-gap: 8px;

    button {
      @include btn;
      width: 30px;
      height: 30px;
      background-color: gainsboro;
    }
  }

  .video-comment-list {
    min-height: 10px;
    margin: 30px 0;
    // background-color: gainsboro;
  }
}

.video-comment-form {
  margin-top: 25px;
  width: 100%;
  height: 36px;
  border: 2px solid #000000;
  border-radius: 20px;
  overflow: hidden;

  .form-comment {
    display: flex;
    padding: 0 1em;
    background-color: $white;
    width: 100%;
    height: 100%;

    .input {
      flex: 1 1 auto;
      color: $darkgray;
    }

    .btn {
      font-weight: 500;
    }
  }
}

// when floating
.view-video.float {

  .view-video-wrap {
    width: 347px;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 15px 15px 0px 0px;
  }

  .drag-tool-touch {
    height: 15px;
    padding-bottom: 4px;

    .tool-bar {
      width: 71px;
    }
  }

  .video-wrap {
    min-width: 290px;

    .video-total-time {
      display: none;
    }
  }

  .video-title {
    display: none;
  }

  .video-date {
    display: none;
  }

  .video-main {
    display: none;
  }
}