.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: $level_3;
  width: 100%;

  .header-wrap {
    width: 100%;
    height: 5rem;
    padding: 0 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $white;
  }

  .btn-wrap {
    height: max-content;

    .btn-go-home {
      width: 84px;
      $margin: 6px; // matching authentic layout
      height: calc(25px + $margin);
      margin-top: $margin;

    }

    &:active {
      background-color: gainsboro;
    }
  }

  .btn-tools-wrap {
    display: flex;
    column-gap: 12px;

    .btn {
      width: 24px;
      height: 24px;

      &:active {
        background-color: gainsboro;
      }
    }
  }
}