@import './modules';
@import './reset';

// tools
@import './tools/btn';
@import './tools/text';

// theme
@import './theme/theme';

// components
@import './components/popup';
@import './components/bannerslider';
@import './components/sidebar';
@import './components/video';

// layout
@import './layout/loading';
@import './layout/header';
@import './layout/footer';
@import './layout/contents';

// pages
@import './pages/home';
@import './pages/setlanguage';

#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: gray;
}

.App {
  position: relative;
  // max-width: 375px;
  // max-height: 667px;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: white;

  *::selection {
    background-color: $pink1;
    color: $gray1;
  }
}

.view {
  height: 100%;
  // position: relative;
  // height: calc(100% - 50px);
}