// * home popup layout + animation
.set-guide {
  padding: 0 20px;

  .image-icon-guide {
    display: block;
    width: 75px;
    height: 75px;
    background-image: url('../../assets/image/image_poup.png');
    background-repeat: no-repeat;
    background-size: contain;
  }

  .guide-text {
    text-align: center;
    line-height: 1.8em;

    strong {
      color: $purple;
      font-size: 1.6rem;
    }
  }

  .popup-tool {
    .btn-look-guide {
      background-color: $purple2;
    }
  }
}

// * shut-down animation
.set-guide.shut-down {

  $animation_duration: 0.8s;

  @keyframes getting-smaller {
    from {
      width: 30%;
      height: 30%;
    }

    to {
      width: 50px;
      height: 50px;
      padding: 0;
    }
  }

  &.popup-container {
    bottom: 20px;
    right: 20px;
    @include animation(getting-smaller, $animation_duration);

    &::after {
      display: none;
    }
  }

  @keyframes getting-smaller-wrap {
    from {
      width: 50%;
      height: 50%;
    }

    80% {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      padding: 0;
    }

    to {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      padding: 0;
    }
  }

  .popup-wrap {
    @include animation(getting-smaller-wrap, $animation_duration);
  }

  .popup-content {
    padding: 0;
    height: 100%;
    justify-content: center;

    .image-icon-guide {
      width: 35px;
      height: 35px;
    }

    .guide-text {
      display: none;
    }
  }

  .popup-tool {
    display: none;
  }
}

// home
.home {
  position: relative;
  width: 100%;

  // common
  .category-text {
    align-self: center;
    font-size: 16px;
    user-select: none;
  }

  // layout
  .page-content {
    margin-top: 90px;
    width: 100%;
  }

  .recommend-category {
    position: relative;
    height: 40px;
    background-color: $purple2;

    .recommend-category-wrap {
      display: flex;
      justify-content: space-between;
      height: 40px;
      overflow: hidden;

      &.open {
        overflow: visible;
      }
    }

    .recommend-category-list {
      position: relative;
      display: flex;
      flex-direction: column;
      width: 100%;
      height: max-content;
      background-color: $purple2;
      z-index: 9;

      .category-item {
        padding: 0 15px;

        .btn {
          width: 100%;
          height: 40px;
          justify-content: flex-start;
        }
      }
    }

    .btn-wrap {
      position: absolute;
      right: 15px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 9;

      .btn {
        width: 24px;
        height: 24px;
      }
    }
  }

  .contents-container {

    .category-item {
      padding: 0 15px;
      height: 40px;
      background-color: $purple2;
      display: flex;
      justify-content: space-between;

      .category-text {
        font-weight: bold;
      }
    }
  }

  .contents-list-wrap {
    position: relative;
    padding: 2.4rem 2rem 3rem 2rem;

    .contents-list {
      display: flex;
      flex-direction: column;
      row-gap: 1.6rem;
      width: 100%;
      align-items: center;

      .content-item {
        width: 100%;

        .btn-content {
          width: 100%;
          flex-direction: column;
          row-gap: 1rem;
        }

        .video-wrap {
          width: 100%;
          min-width: 320px;
          min-height: 170px;
          border-radius: 5px;
          overflow: hidden;
          display: flex;

          .video-content {
            background-color: black;
            width: 100%;
          }
        }

        .video-title {
          @include multiline-text-ellipsis(2);

          width: 100%;
          max-height: 4rem;
          font-size: 1.6rem;
          line-height: 1.4;
          text-align: left;
          // background-color: gainsboro;
        }
      }
    }
  }

}