.home {
  position: absolute;
  left: 0;
  width: 100vw;

  // common
  .category-text {
    align-self: center;
    font-size: 16px;
    user-select: none;
  }

  // layout
  .page-content {
    margin-top: 90px;
    width: 100%;
  }

  .recommend-category {
    position: relative;
    height: 40px;
    background-color: $purple2;

    .recommend-category-wrap {
      display: flex;
      justify-content: space-between;
      height: 40px;
      overflow: hidden;

      &.open {
        overflow: visible;
      }
    }

    .recommend-category-list {
      position: relative;
      display: flex;
      flex-direction: column;
      width: 100%;
      height: max-content;
      background-color: $white;
      // background-color: $purple2;
      z-index: 9;

      .category-item {
        padding: 0 15px;
        border-top: 1px solid $purple2;

        .btn {
          width: 100%;
          height: 40px;
          justify-content: flex-start;
        }
      }

      .focus {
        @keyframes fade-in {
          from {
            background-color: $white;
          }

          to {
            background-color: $purple2;
          }
        }

        @include animation(fade-in, 0.2s);
      }
    }

    .btn-wrap {
      position: absolute;
      right: 15px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 9;

      .btn {
        width: 24px;
        height: 24px;
      }
    }
  }

  .contents-container {

    .category-item {
      padding: 0 15px;
      height: 40px;
      background-color: $purple2;
      display: flex;
      justify-content: space-between;

      .category-text {
        font-weight: bold;
      }
    }
  }

  .contents-list-wrap {
    position: relative;
    padding: 2.4rem 2rem 3rem 2rem;

    .contents-list {
      display: flex;
      flex-direction: column;
      row-gap: 1.6rem;
      width: 100%;
      align-items: center;

      .content-item {
        width: 100%;
      }
    }
  }
}