.meeting-draft {
  position: relative;
  margin-top: $header_height;
  padding-top: 100px;
  width: 100%;
  height: calc(100vh - $header_height);
  overflow: hidden;

  .aside {
    position: absolute;
    right: 0;
    width: 300px;
    height: 100vh;
    background-color: whitesmoke;
    transition: right 0.2s;
    z-index: $level_1;

    .btn-aside {
      width: 100px;
      height: 50px;
      background-color: aquamarine;
      position: absolute;
      left: -100px;
    }
  }

  .aside.close {
    right: -300px;
  }

  .aside+.video-list-container {
    width: calc(100% - 300px);
  }

  .aside.close+.video-list-container {
    width: 100%;
  }

  hr {
    height: 100px;
    background-color: bisque;
  }
}

.meeting-draft {
  .video-list-container {
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
    transition: width 0.2s;
  }

  .video-list-wrap {
    &.vertical {
      .video-list {
        flex-wrap: wrap;
      }
    }
  }

  .video-list {
    position: relative;
    display: flex;
    gap: 10px;
    width: 100%;
    overflow: hidden;
    counter-reset: section;

    .video-item {
      position: relative;
      counter-increment: section;

      &::after {
        position: absolute;
        top: 0;
        left: 0;
        content: "user" counter(section);
      }

      &.visible {
        .video-wrap {
          background-color: skyblue;
        }
      }

      &.hidden {}

      &.more-infor {
        &::after {
          content: '';
        }

        .video-wrap {
          color: white;
          background-color: orange;
        }
      }
    }
  }

  .video-wrap {
    width: 400px;
    height: 200px;
    background-color: rgb(83, 83, 83);
    border-radius: 10px;
    overflow: hidden;

    .video {
      object-fit: contain;
    }
  }
}