.search-form {
  position: absolute;

  top: 0;
  // right: -100%; 
  // 0 ~ -100 slide 

  width: 100vw;
  height: 100vh;

  background-color: black;
  z-index: $level_5;
}

/**
click search icon -> slide right
click search -> link to search page
*/